<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-bar-top">
      <div class="side-bar-top-left">
        <a href="#">Tom</a>
      </div>
      <div class="side-bar-top-right">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bar-main">
      <div class="room">
        <a href="#">room1</a>
      </div>
      <div class="room">
        <a href="#">room2</a>
      </div>
    </div>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
    <div class="chat-top">
    
    </div>
    <div class="chat-main">
    
    </div>
    <div class="chat-bottom">
    
    </div>
  </div>
</div>